# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Vivado project
reference_design/Vivado/*
reference_design/.Xil

petalinux/ME-XU5-4EV-1I-D11E/*.vscode
petalinux/ME-XU5-4EV-1I-D11E/*/*/config.old
http://petalinux/ME-XU5-4EV-1I-D11E/*/*/rootfs_config.old
http://petalinux/ME-XU5-4EV-1I-D11E/build/
http://petalinux/ME-XU5-4EV-1I-D11E/images/linux/
http://petalinux/ME-XU5-4EV-1I-D11E/pre-built/linux/
http://petalinux/ME-XU5-4EV-1I-D11E/.petalinux/*
http://petalinux/ME-XU5-4EV-1I-D11E/!.petalinux/metadata
http://petalinux/ME-XU5-4EV-1I-D11E/*.o
http://petalinux/ME-XU5-4EV-1I-D11E/*.jou
http://petalinux/ME-XU5-4EV-1I-D11E/*.log
http://petalinux/ME-XU5-4EV-1I-D11E//components/plnx_workspace
http://petalinux/ME-XU5-4EV-1I-D11E//components/yocto
http://petalinux/ME-XU5-4EV-1I-D11E/.Xil/

